/* Pour cacher des elements */
.hide{
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url('../img/ciel.jpg');
    background-size: cover; /* Pour que l'image couvre tout l'arrière-plan */
    background-position: center; /* Pour centrer l'image */
}



/* Barre de navigation */
header {
    background-color: #084a38d6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1% 5px;
}

nav ul li a {
    color: #fff !important;
    text-decoration: none !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    padding: 1% 5px !important;
}

/* Au survol des li du menu */
nav ul li:hover{
    color: #084a38d6 !important;
    background: white !important;
}

nav ul a:hover{
    color: #084a38d6!important;
}

.navbar {
    width: 100%;
}

.navbar .container-fluid{
    justify-content: space-between;
}

li{
    list-style: none;
}

/* Logo */
.logo img {
    width: 100px;
}

.container{
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin: 4% 0 !important;
}


/* Style de la section de détails de la conférence */
#past-conferences, #upcoming-conferences {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 3% 0;
}

.conference-image img {
    width: 80%; /* Ajuste la largeur maximale de l'image */
    height: auto; /* Garantit que l'image conserve son ratio hauteur/largeur */
    border-radius: 5px;
    margin-bottom: 15px;
}

.conference {
    background-color: #cae9e1d6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(44, 43, 43, 0.1);
    margin: 4% 1%;
    padding: 2%;
    align-items: center;
    
}

.row{
    justify-content: center;
    gap: 4%;
}

.conference-info {
    width: 100%; /* Ajuste la largeur maximale de la section de détails */
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte horizontalement */
}

.conference-info h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.conference-info h4 {
    font-size: 20px;
    color: #333;
    margin-top: 0;
}



.conference-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}


/* Style pour les champs du formulaire */
/* arriere plan du fornulaire */
::backdrop{
    background-image: linear-gradient(
        rgba(213, 204, 204, 0.767),
        rgba(213, 204, 204, 0.767)
        );
        opacity: .8;
}


form {
    margin: 3px 4%;
    position: relative;
    border-radius: 15px;
}

form .del{
    position: relative;
    left: 93%;
    bottom: 15%;
    border: none !important;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Ajuste la largeur des champs de formulaire */
    gap: 4%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Aligne le texte des étiquettes à gauche */
}

input[type="text"],
input[type="email"],
input[type="tel"], textarea {
    width: 60% !important;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: 1px solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialog-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.close-btn {
    cursor: pointer;
}