@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lexend:wght@100..900&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lexend:wght@100..900&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lexend:wght@100..900&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sedan:ital@0;1&family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lexend:wght@100..900&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sedan:ital@0;1&family=Syncopate:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jersey+10&family=Lexend:wght@100..900&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sedan:ital@0;1&family=Syncopate:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jersey+10&family=Lexend:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sedan:ital@0;1&family=Syncopate:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/made-future-x');
@import url('https://fonts.cdnfonts.com/css/plush-trial');
@import url('https://fonts.cdnfonts.com/css/pp-pangaia');



/* styles généraux */
main{
    margin: 2% 7%;
}

/* Sections */
section {
    padding: 5%;
}

/* les lignes */
.row{
    justify-content: space-around;
    align-items: center;
}
/* les colonnes */
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.justify{
    text-align: justify;
}

/* les couleurs */

.color-green{
    color: rgb(33, 84, 54);
}

.bg-green{
    background: rgb(64, 168, 107);
}


li{
    list-style: none;
}

.hide{
    display: none;
}


/* Styles pour le contenu principal de la page d'accueil */

/* On va travailler un peu notre boutton en savoir plus*/

 .btnanime{
    border : 0;
    background:white;
    color: rgb(33, 84, 54);
    position:relative ;
    overflow: hidden;
    padding: 20px 50px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition:all .2s;
 

}

 .btnanime::after{
    content:"";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
    transition: all .5s;
 }

 .btnanime:hover::after{
    transform: rotate(150deg);
 }

 .btnanime:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
 }
 

 h2, h4{
    font-family: Plush-Trial;
 }

 p{
    font-family: PP Pangaia;
 }
 

/* Styles généraux */
body {
    font-family: 'Lexend';
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /*C'est ici que les changements ont commencé*/
    align-items: center;
    justify-content: center;
   

    /* background-color: #72EE9A; */
    /* background-image: linear-gradient(0deg, rgba(251,238,25, 0.5) 0%, rgba(251,238,25, 0.5) 3%,transparent 3%, transparent 27%,rgba(43, 209, 74,0.5) 27%, rgba(43, 209, 74,0.5) 41%,rgba(21, 162, 91,0.5) 41%, rgba(21, 162, 91,0.5) 100%),linear-gradient(90deg, rgb(94,130,7) 0%, rgb(94,130,7) 37%,rgb(14, 146, 97) 37%, rgb(14, 146, 97) 56%,transparent 56%, transparent 61%,rgb(21, 162, 91) 61%, rgb(21, 162, 91) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); */
    /* background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgb(13,75,166),rgb(130,238,108)); */
    /* background-image: url('../img/ajouts/pattern.png'); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%234bc978' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); */
    /*background-image: url('../img/ajouts/vert.png');*/
    /*background-image: radial-gradient(circle at center center, transparent 0%,rgb(69,92,69) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(28,245,37, 0.05) 50%, rgba(28,245,37, 0.05) 100%),linear-gradient(227deg, rgba(39,177,66, 0.05) 0%, rgba(39,177,66, 0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249,249,249, 0.05) 50%, rgba(249,249,249, 0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(34,96,19, 0.05) 50%, rgba(34,96,19, 0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));*/
   /* background-image: linear-gradient(0deg, rgb(34,152,24) 0%, rgb(34,152,24) 22%,rgb(141, 190, 127) 22%, rgb(141, 190, 127) 61%,rgb(117, 169, 93) 61%, rgb(117, 169, 93) 68%,rgb(94, 147, 60) 68%, rgb(94, 147, 60) 92%,rgb(70, 126, 26) 92%, rgb(70, 126, 26) 100%),linear-gradient(135deg, rgb(34,152,24) 0%, rgb(34,152,24) 22%,rgb(141, 190, 127) 22%, rgb(141, 190, 127) 61%,rgb(117, 169, 93) 61%, rgb(117, 169, 93) 68%,rgb(94, 147, 60) 68%, rgb(94, 147, 60) 92%,rgb(70, 126, 26) 92%, rgb(70, 126, 26) 100%),linear-gradient(90deg, rgb(34,152,24) 0%, rgb(34,152,24) 22%,rgb(141, 190, 127) 22%, rgb(141, 190, 127) 61%,rgb(117, 169, 93) 61%, rgb(117, 169, 93) 68%,rgb(94, 147, 60) 68%, rgb(94, 147, 60) 92%,rgb(70, 126, 26) 92%, rgb(70, 126, 26) 100%),linear-gradient(90deg, rgb(171,72,87),rgb(82, 81, 20)); background-blend-mode:overlay,overlay,overlay,normal;*/
    /*background-image: radial-gradient(circle at center center, rgb(107,212,21) 0%, rgb(107,212,21) 20%,rgb(181, 249, 66) 20%, rgb(181, 249, 66) 40%,rgb(111,140,17) 40%, rgb(111,140,17) 60%,rgb(188,205,59) 60%, rgb(188,205,59) 80%,rgb(248, 254, 13) 80%, rgb(248, 254, 13) 100%);*/
    /*background-image: linear-gradient(164deg, transparent 0%, transparent 21%,rgba(20,209,153, 0.77) 21%, rgba(20,209,153, 0.77) 51%,transparent 51%, transparent 100%),linear-gradient(74deg, transparent 0%, transparent 16%,rgb(209,183,20) 16%, rgb(209,183,20) 21%,rgb(41,184,22) 21%, rgb(41,184,22) 64%,transparent 64%, transparent 100%),linear-gradient(119deg, rgb(255,255,255),rgb(255,255,255));*/
    background-size: cover; /* Pour que l'image couvre tout l'arrière-plan */
    background-position: center; /* Pour centrer l'image */
}

/*C'est ici que les changements ont commencé*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Barre de navigation */
header {
    background-color: rgba(33, 84, 54, .7);
    color: white;
    display: flex;
    align-items: center;
    animation: slideIn 2s ease forwards;
}
.navbar-toggler-icon{
    cursor: pointer;
    padding: 15%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-family:MADE Future X;
}



nav ul li a {
    color: white !important;
    text-decoration: none !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    padding: 4% 5px !important;
}

/* Au survol des li du menu */
nav ul li:hover{
    background: white !important;
}

nav ul a:hover{
    color: rgba(33, 84, 54) !important;
}

.navbar {
    width: 100%;
}

.navbar .container-fluid{
    justify-content: space-between;
}


/* Logo */
.logo img {
    width: 60px; /* Ajuster la taille selon tes besoins */
}

/* Les animations */
@keyframes slideLeft {
    0% {
       opacity: 0;
       transform: translateX(-25%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes slideRight {
    0% {
       opacity: 0;
       transform: translateX(25%);
    }
    100% {
       opacity: 1;
       transform: translateX(0%);
    }
 }


/* accueil */
#ac{
    background: rgb(64, 168, 107);
    background: -moz-linear-gradient(108deg, rgb(64, 168, 107) 50%, white 50%);
    background: -webkit-linear-gradient(108deg, rgb(64, 168, 107) 50%, white 50%);
    background: linear-gradient(108deg, rgb(64, 168, 107) 50%, white 50%);
}

#ac .cont{
    animation: slideLeft 2s ease;
}

#ac img{
    width: 100%;
    animation: slideRight 2s ease;
}

/* qui sommes nous? */
#qui{
    background: rgb(64, 168, 107);
    background: -moz-linear-gradient(74deg, white 50%, rgb(64, 168, 107) 50%);
    background: -webkit-linear-gradient(74deg, white 50%, rgb(64, 168, 107) 50%);
    background: linear-gradient(74deg, white 50%, rgb(64, 168, 107) 50%);
}

#qui img{
    width: 80%;
}


/* Section conference */
.conference-image img{
    width: 100%;
}

.conference{
    position: relative;
    box-shadow: 0 0 10px rgb(64, 168, 107);
}

.conference-info{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 92%;
    bottom: 0;
    padding-top: 15%;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
}

.conference:hover .conference-info{
    z-index: 0;
    transition: all 1s;
}

/* Section Country Call */
#country-call {
    padding: 5% 0;
}

#country-call .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#country-call h2 {
    font-size: 28px;
}

#country-call p {
    font-size: 16px;
    margin-bottom: 20px;
}


/* Pied de page */
footer {
    background-color: rgba(33, 84, 54, .8);
    color: #fff;
    padding: 5% 0;
}

/*C'est ici que les changements ont commencé*/


.card{
    width: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 5%;

}

.card img{
    width: 40%;
    border-radius: 50%;
    transition: all .3s;
}

.informations{
    text-align: center;
    margin-top: 1rem;
}

.card h1{
    margin-top: 30px;
}

.card h3{
    font-size: 1.3rem;
}

.card h1, .card h3, .card p{
    transition: all .3s;
}

.card:hover img, .card:hover h1, .card:hover h3, .card:hover p{
    transform: translateY(-60px);
}

.icon{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

.icon a i{
    margin: 10px;
    transition: all .6s;
    transform: translateY(300%);
}

.card:hover .icon a i{
    transform: translateY(50%);
}

footer a{
    text-decoration: none;
    color: rgb(64, 168, 107);
}






/* Savoir plus styles */
#accueil {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    /*border: 2px solid #ccc;*/
    border-radius: 10px;
    
 }
/* Animation pour le titre */
 #accueil h1 {
    font-size: 36px;
    font-weight: bold;
    animation: slideIn 2s ease forwards;
    
 }

 #qui-sommes-nous{
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    /*border: 2px solid #ccc;*/
    border-radius: 10px;
 }

 #conferences{
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    /*border: 2px solid #ccc;*/
    border-radius: 10px;
 }
 
 @keyframes slideIn {
    0% {
       opacity: 0;
       transform: translateY(-50px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .frame {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
 }

 /* Styles pour le titre */
.frame h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
 }

 /* Styles pour le contenu principal */
.content {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
 }

 .content1{
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
 }


/* Moyens ecrans */
@media (min-width:701px) and (max-width: 992px) {
    /* accueil */
    #ac{
        background: rgb(64, 168, 107);
        background: -moz-linear-gradient(96deg, rgb(64, 168, 107) 50%, white 50%);
        background: -webkit-linear-gradient(96deg, rgb(64, 168, 107) 50%, #ffffff 50%);
        background: linear-gradient(96deg, rgb(64, 168, 107) 50%, white 20%);
    }

    #qui{
        background: rgb(64, 168, 107);
        background: -moz-linear-gradient(84deg, white 50%,  rgb(64, 168, 107) 50%);
        background: -webkit-linear-gradient(84deg, white 50% , rgb(64, 168, 107) 50%);
        background: linear-gradient(84deg, white 50% , rgb(64, 168, 107) 50%);
    }

    
 }

 /*petits ecrans */
 @media (max-width: 768px) {
    /* accueil */
    #ac{
        background: rgb(64, 168, 107);
        background: -moz-linear-gradient(180deg, rgb(64, 168, 107) 85%, white 20%);
        background: -webkit-linear-gradient(180deg, rgb(64, 168, 107) 85%, #ffffff 20%);
        background: linear-gradient(180deg, rgb(64, 168, 107) 85%, white 20%);
    }

    #qui{
        background: rgb(64, 168, 107);
        background: -moz-linear-gradient(0deg, rgb(64, 168, 107) 85%, white 25%);
        background: -webkit-linear-gradient(0deg, rgb(64, 168, 107) 85%, white 25%);
        background: linear-gradient(0deg, rgb(64, 168, 107) 85%, white 25%);
    }
    .conference-info{
        position: static;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: rgb(64, 168, 107);
    }
 }